footer {
<<<<<<< HEAD
    .copyright {
        @include basic;
        display: flex;
        line-height: 3em;
        color: #BABABA;
        a {
            &:hover {
                color: $hover-color;
            }
        }
    }
}
=======
  .copyright {
    @include basic;
    display: flex;
    line-height: 3em;
    color: #BABABA;
    a {
      &:hover {
        color: $hover-color;
      }
    }
  }
}
>>>>>>> 170c6432f7956872dcede7792704ea2496782e41
